*{
    padding: 0%;
    margin: 0%
}

.header{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background: linear-gradient(to bottom, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.background{
    height: 100%
}

.name{
    font-size: 3rem;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif
}

.job{
    font-size: 2rem;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;

}

.paralax{
    height: 65vh;

    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.img1{
    background-image: url("./img/fog.jpg");
}

.img2{
    background-image: url("./img/bled.jpg")
}